body
    background: #070506 url('../img/main-bg.png') top left  no-repeat 
    background-attachment: fixed
    // background-position: top right 160%
    padding-top: 4rem 
    padding-bottom: 4rem
.logo
    margin-right: 5.1rem
    transition: 0.5s
    &:hover
        transform: scale(1.1)
.nav
    display: flex
    &__wrapper
        display: flex
        align-items: center
    &__item
        color: $light
        text-decoration: none
        font-size: 1.2rem
        margin-right: 0.9rem
        transition: 0.35s
        position: relative
        &::after
            content: ''
            position: absolute
            display: block
            width: 100%
            height: 2px 
            background: $light
            margin-top: 1rem
            transition: 0.3s ease-in-out
            transform: scale(0)
        &:hover
            &::after
                transform: scale(1) 
        &:last-child
            margin-right: 0
.hero
    min-height: 36rem
    color: $light
    padding-top: 5.5rem
    &__subtitle
        font-size: 2.85rem
        line-height: 100%
        font-family: 'Proxima Nova', sans-serif
    &__title
        margin: 0
        font-size: 4.5rem
        line-height: 6.5rem
        font-weight: 900
        font-family: 'Proxima Nova', sans-serif
        margin-bottom: 1.3rem
    &__description
        font-size: 1.28rem
        max-width: 40.85rem
        line-height: 155%
        color: $grey
        margin-bottom: 2rem
    &__opening
        color: $red
        display: block
        font-size: 1.28rem
        line-height: 150%
        margin-bottom: 0.5rem
    &__date
        font-size: 1.71rem
        display: block
        color: $light
        line-height: 150%
        margin-bottom: 3.9rem
.button-play
    text-transform: uppercase
    color: $light
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%)
    border: none
    padding: 1.71rem 6.21rem 1.71rem 2.42rem
    border-radius: 300px
    outline: none
    transition: 0.1s
    position: relative
    text-decoration: none
    display: inline-block
    margin-bottom: 4.2rem
    &:hover
        cursor: pointer
        transform: scale(1.05)
    &::after
        content: ''
        display: block
        position: absolute
        width: 4.64rem
        height: 4.64rem
        background: $light url('../img/Polygon.svg') center no-repeat   
        background-position: center 0.9rem
        border-radius: 50%
        right: 0
        top: 0
    &::before
        content: ''
        display: block
        position: absolute
        background-color: rgba(255,255,255, 0.3)
        width: 5.64rem
        height: 5.64rem
        border-radius: 50%
        right: -0.5rem
        top: -0.5rem
    &__link
        color: $light
        text-decoration: none
        

        
            
    